<div class="row">
  <div class="col-md-12" >
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title ">Proyectos</h4>
              <p>Proyectos activos</p>
          </div>
          <div class="card-body">
                <div *ngIf="message" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                    <span>
                        <b> Error</b> {{message}}</span>
                </div>
              <button  *ngIf="auth.isRoot()" class="btn btn-success pull-right" (click)="createProject()">Crear proyecto</button>
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                          <th>
                              ID
                          </th>
                          <th>
                              Nombre
                          </th>
                          <th>
                            Fecha de inicio
                          </th>
                          <th>
                            Fecha de termino
                          </th>
                          <th *ngIf="auth.isRoot()">
                            Scrum master
                          </th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let project of projects">
                              <td>
                                  {{project.id}}
                              </td>
                              <td>
                                  {{project.name}}
                              </td>
                              <td>
                                  {{project.begin_date}}
                              </td>
                              <td>
                                  {{project.end_date}}
                              </td>
                              <td *ngIf="auth.isRoot()">
                                  {{project.scrum_master.name}}
                              </td>
                              <td>
                                    <button *ngIf="auth.isRoot()" class="btn btn-danger pull-right" (click)="deleteProject(project.id)"><i class="material-icons">delete</i></button>
                                    <button *ngIf="auth.isRoot()" class="btn btn-info pull-right" (click)="updateProject(project.id)"><i class="material-icons">edit</i></button>
                                    <button class="btn btn-primary pull-right" (click)="retrieveProject(project.id)"><i class="material-icons">info</i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>