<ul class="nav">
    <li routerLinkActive="active">
        <a class="nav-link" routerLink="/projects">
            <i class="material-icons">dashboard</i>
            <p>My projects</p>
        </a>
    </li>
    <li routerLinkActive="active" *ngIf="auth.isRoot()">
        <a class="nav-link" routerLink="/technologies">
            <i class="material-icons">dashboard</i>
            <p>Tecnologías</p>
        </a>
    </li>
    <li class="nav-item active-pro">
        <a class="nav-link" routerLink="/logout">
            <i class="material-icons">input</i>
            <p>Salir</p>
        </a>
    </li>
</ul>