<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title ">Tareas</h4>
              <p>Tareas activas</p>
          </div>
          <div class="card-body">
                <div *ngIf="message && message != 'Success'" class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="material-icons">close</i>
                        </button>
                        <span>
                            <b> Error</b> {{message}}</span>
                    </div>
                    <div *ngIf="message && message == 'Success'" class="alert alert-success">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <i class="material-icons">close</i>
                      </button>
                      <span>
                          <b> Success</b> {{message}}</span>
                  </div>
                <a class="btn btn-success pull-right" routerLink="/tasks/create/{{user_story_id}}">Crear Tarea</a>
              <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                          <th>
                              ID
                          </th>
                          <th>
                              Duracion
                          </th>
                          <th>
                              Nombre
                          </th>
                          <th>
                              Completado
                          </th>
                      </thead>
                      <tbody>
                          <tr *ngFor="let task of tasks">
                              <td>
                                  {{task.id}}
                              </td>
                              <td>
                                  {{task.duration}}
                              </td>
                              <td>
                                  {{task.name}}
                              </td>
                              <td *ngIf="task.completed==true">
                                  Si
                              </td>
                              <td *ngIf="task.completed==false">
                                  No
                               </td>
                              <td>
                                    <button class="btn btn-danger pull-right" (click)="deleteTask(task.id)"><i class="material-icons">delete</i></button>
                                    <button class="btn btn-info pull-right" routerLink="/tasks/update/{{task.id}}"><i class="material-icons" >edit</i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>