<div class="head-page" *ngIf="identity">      	
	<h4>{{titulo}} <button [routerLink]="['/mis-proyectos',identity.id]">Volver a Proyectos</button></h4>	
</div>

<div *ngIf="alertMessage">
	<div>
		{{alertMessage}}
	</div>
</div>

<div *ngIf="identity">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div>
		  <div>
		    <h3>Nombre:</h3>
		  </div>
		  <div>
		    {{project.nombre}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div>
		  <div>
		    <h3>Visión:</h3>
		  </div>
		  <div>
		    {{project.vision}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<div>
		  <div>
		    <h3>Background:</h3>
		  </div>
		  <div>
		    {{project.background}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div>
		  <div>
		    <h3>Riesgos:</h3>
		  </div>
		  <div>
		    {{project.riesgos}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div>
		  <div>
		    <h3>Alcance:</h3>
		  </div>
		  <div>
		    {{project.alcance}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div>
		  <div>
		    <h3>Fecha Inicio:</h3>
		  </div>
		  <div>
		    {{project.fechainicio}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div>
		  <div>
		    <h3>Fecha Final:</h3>
		  </div>
		  <div>
		    {{project.fechafinal}}
		  </div>
		</div>  
	</div>	

	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" >
		<div>
		  <div>
		    <h3 class="text-center">Miembros:</h3>
		  </div>
		  
			  <div class="text-center">
					<table class="table table-hover table-responsive" style="background-color: white;">
					  <thead>
					    <tr>
					      <th class="text-center" scope="col">Matricula</th>
					      <th class="text-center" scope="col">Nombre</th>
					      <th class="text-center" scope="col">Carrera</th>
					      <th class="text-center" scope="col">Role</th>
					      <th class="text-center" scope="col">Opciones</th>
					    </tr>
					  </thead>
					  <tbody *ngFor="let miembro of miembros; let i =index">
					    <tr> 
					      <th class="text-center" scope="row">{{miembro.matricula}}</th>
					      <td class="text-center">{{miembro.nombre}}</td>
					      <td class="text-center">{{miembro.carrera}}</td>
					      <td class="text-center">{{miembrosAux[i]}}</td>
					      <td class="text-center">
							<button (click)="eliminarMiembro(miembro.id, miembrosAux[i])">Eliminar</button>        	
					      </td>
					    </tr>
					  </tbody>
					</table>
			  </div> 
		  
		</div>  
	</div>	
</div>